@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+JP:wght@300&display=swap');

:root {
    --color-main1: #C8BFD5;
    --color-main2: #DCE3F2;
    --color-main3: #BC768A;
    --color-accent1: #E2B456;
    --color-accent2:#D57D62;
    --color-accent3: #293A4B;
    --color-accent4:#92A388;
    --color-white: white;
    --heading-font: 'Abril Fatface', cursive;
    --paragraph-font: 'Noto Sans JP', sans-serif;
}

html {
    background-color: var(--color-main1)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color:var(--color-white);
    padding: 1em
}

img {
    max-width: 100%

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color:var(--color-accent3)
}

header {
    padding: 1em;
    text-align: center;
    color: var(--color-accent4);
    background-color:var(--color-accent3)
}

header>h1 {
    color:var(--color-main2)
}

p {
    font-family: var(--paragraph-font);
    color: var(--color-accent3);
    padding: 1em
}

.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center
}

.colors th {
    background-color: var(--color-white)
}

.colors td {
    width: 14%;
    height: 3em
}

.maincolor1 {
    background-color: var(--color-main1)
}

.maincolor2 {
    background-color: var(--color-main2)
}

.maincolor3 {
    background-color: var(--color-main3)
}

.accent1 {
    background-color: var(--color-accent1)
}

.accent2 {
    background-color: var(--color-accent2)
}

.accent3 {
    background-color: var(--color-accent3)
}

.accent4 {
    background-color: var(--color-accent4)
}

nav {
    background-color: var(--color-accent2);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    color: var(--color-accent1)
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color: var(--color-accent3);
}

nav a:hover {
    color: var(--color-accent3);
    background-color: var(--color-accent1)
}