@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap');
:root {
    --primary-color: rgba(148, 209, 190);
    --secondary-color:  rgba(157, 181, 178);
    --third-color: rgba(84,110,122);
    --accent1-color: rgba(59, 65, 60);
    --accent2-color: rgba(218, 240, 238);
    --heading-font: 'Oswald', sans-serif;
    --paragraph-font: 'Playfair Display', serif;
}

header, main, footer {
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--accent2-color);
  }
}html {
    background-color: var(--primary-color)
}

img {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--third-color)}

p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
}

nav {
    background-color: var(--accent2-color) ;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}

nav a {
    padding: 1em;
    min-width: 70px
    
}

nav a:link,
nav a:visited {
    color: var(--accent1-color)
}

nav a:hover {
    color: var(--secondary-color);
    background-color:var(--accent1-color)
}