@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Playfair+Display&display=swap');

:root {
    --primary-color: rgb(168, 218, 220);
    --secondary-color: 9, 123, 157;
    --third-color: rgb(230, 57, 70);
    --fourth-color: rgb(241, 250, 238);
    --accent1-color: rgb(29, 53, 87);
    --heading-font: 'Oswald', Charcoal, sans-serif;
    --paragraph-font: 'Playfair Display', Times, serif;

}

@media screen and (max-width: 550px) {
    .main {
        display: block;
    }
}

header {
    max-width: 960px;
    margin: 1rem;
    text-align: center;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
}


body {
    max-width: 960px;
    font-size: 16px;
    margin: auto;

}

main {
    max-width: 100%;
    color: var(--accent1-color);
    background-color: var(--fourth-color);
}

.banner {
    max-width: 960px;
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.heroimage {
    grid-row: 1/3;
    grid-column: 1/3;
    width: 960px;
}

.homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 177px 1fr 1fr 1fr;
    gap: 10px;
    margin: 0;
}

.action {
    background-color: rgba(var(--secondary-color), 0.2);
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 1;
    width: 300px;
    margin: 1rem;
    position: relative;


}

.action button {
    line-height: 2em;
    width: 10em;
    background-color: var(--accent1-color);
    font-size: 1.2em;
    color: var(--fourth-color);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 20%;


}

.section1heading {
    grid-row: 2/3;
    grid-column: 1/2;
}

.section1img {
    grid-row: 2/3;
    Grid-column: 2/3;
    margin: 2rem;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    align-self: center;
}

.section2heading {
    grid-row: 3/4;
    grid-column: 2/3
}

.section2img {
    grid-row: 3/4;
    Grid-column: 1/2;
    margin: 2rem;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 5px 5px 5px #999;
    align-self: center;
}

.section3heading {
    grid-row: 4/5;
    grid-column: 1/3;
    justify-content: center;
}

.amenities {
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 3rem 1fr 1fr;
    gap: 2rem;
}

.amenitiesheading {
    grid-row: 1/2;
}

.celestialcomfort {
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 1rem
}

.celestialcomfortheading {
    grid-row: 1/2;
    grid-column: 1/5;
}

.breakfast {
    grid-row: 2/3;
    grid-column: 1/2;
}

.exercise {
    grid-row: 2/3;
    grid-column: 2/3;
}

.pool {
    grid-row: 2/3;
    grid-column: 3/4;
}

.parking {
    grid-row: 2/3;
    grid-column: 4/5;
}

.yourstay {
    grid-row: 3/4;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1rem;
}

.yourstayheading {
    grid-row: 1/2;
    grid-column: 1/4;
}

.wifi {
    grid-row: 2/3;
    grid-column: 1/2;
}

.templeshuttle {
    grid-row: 2/3;
    grid-column: 2/3;
}

.familyhistoryconsult {
    grid-row: 2/3;
    grid-column: 3/4;
}

.templespotlight1 {
    display: grid;
    max-width: 960px;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 50% 50%;
}

.templename {
    grid-row: 1/2;
    grid-column: 1/2;
}

.templespotlightimg {
    grid-row: 1/3;
    grid-column: 2/3;
    align-self: center
}

.templespotlight2 {
    display: grid;
    grid-template-columns: 30% 30% 30%;
}

.templecalendar {
    grid-column: 1/2
}

.templecontact {
    grid-column: 2/3
}

.additional info {
    grid-column: 3/4
}

.reservationsform {
    margin: 0 auto;
    width: 500px;
    padding: 2rem;
    border: 1px solid var(--accent1-color);
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: flex;
    width: auto;
    text-align: left;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: var(--accent1-color);
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}


footer {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
    text-align: left;
    color: var(--accent1-color);
    background-color: var(--fourth-color);
}

.contact {
    grid-row: 1/2;
    grid-column: 1/2;
}

.social {
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 2rem;
}

.copy {
    grid-row: 2/3;
    grid-column: 1/3;
}


html {
    background-color: var(--primary-color)
}


h1 {
    color: white;
    background-color: var(--primary-color);
    border: 0;
    padding: 0;
    margin: 1rem;
    font-family: var(--heading-font);
    text-align: center;

}

h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
}

h3,
h4,
h5,
h6 {
    width: 100rem;
    border: 1rem;
    margin: 2rem;
    font-family: var(--heading-font);
    color: var(--accent1-color);
}


p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    border: 1rem;
    margin: 2rem;

}

nav {
    background-color: var(--primary-color);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em
}

nav>ul {
    list-style-type: none;
    display: flex;
    text-align: center;
}

nav a {
    padding: 1rem;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color: var(--accent1-color)
}

nav a:hover {
    color: rgb(var(--secondary-color));
    background-color: var(--fourth-color)
}