@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Spartan:wght@100&display=swap');

:root {
    --primary-color: rgba(222, 192, 190);
    --secondary-color:  rgba(238, 222, 222);
    --third-color: rgba(173, 123, 122);
    --accent1-color: rgba(59, 65, 60);
    --accent2-color: rgba(168, 83, 91);
    --white-color: rgba(255, 255, 255); 
    --heading-font: 'Spartan', sans-serif;
    --paragraph-font:  serif;
}

html {
    background-color: var(--primary-color)
}

body {
    max-width: 900px;
    margin: 0 auto;
    background-color:rgba(255, 255, 255);
    padding: 1em
}

img {
    max-width: 100%
}

h1 {
    color: var(--white-color);
    font-family: var(--heading-font);
}
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color)}

header {

    padding: 1em;
    text-align: center;
    color: white;
    background-color: var(--third-color)
}

header img{
    float: right
}
p {
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    margin: .3rem 0rem;

}

p, 
h2,
h3,
h4,
h5,
h6, a:link {

    color: var(--accent2-color);

}
p, 
h2,
h3,
h4,
h5,
h6, a:visited {

    color: var(--accent1-color);

}


footer {
    color: var(--accent1-color);
    background-color:var(--secondary-color);
    padding: 1rem
}