@media only screen and (min-width: 56em){
    .prestonpage{
   

        grid-template-rows:1fr 1fr;
    
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
        max-width: 100%;
        grid-gap: .25rem;
    }
}