body{
    margin: auto;
    max-width: 500px;
}

.section1{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem;
}

article img[data-src] {
    filter: blur(0.8em);
  }
  
  article img {
    filter: blur(0em);
    transition: filter 3s;
  }