@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+JP:wght@300&display=swap');

:root {
    --color-main1: #e5d6eb;
    --color-main2: #a1bfe3;
    --color-main3: #902170;
    --color-accent1: #313b7e;
    --color-accent2:#f25206;
    --color-accent3: #1d2349;
    --color-accent4:#ceadd7;
    --color-white: white;
    --heading-font: 'Abril Fatface', cursive;
    --paragraph-font: 'Noto Sans JP', sans-serif;
    
}

main{

    overflow-x: hidden;
      
}
a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none
}
html {
    background-color: var(--color-main2)
}
body {
    background-color:var(--color-main1);
    font-size: 16px;
}
img{
    max-width: 100%;
    height: auto;
    

}

h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color:var(--color-accent2)
}

header {
    text-align: center;
    color: var(--color-white);
    background-color:var(--color-main3);
    display: flex;
    width: 100%;
    overflow-x: hidden;
}
.header{
    width: 100%;
    justify-items:center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--color-main3);
}

.headerContent{
    
    width: 960px
}
.headerlogo{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 5px;
}
.headertitle{
    grid-column: 1/2;
    grid-row:1/2
}

h1 {
    color:var(--color-main1)
}

.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .content {
    padding-top: 102px;}
p {
    font-family: var(--paragraph-font);
    color: var(--color-accent3);
    padding: 1em
}
nav {
    background-color: var(--color-main3);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    color: var(--color-main3);
    grid-column: 3/4;
    grid-row:1/2
}

nav>ul {
    list-style-type: none;
    display: flex;
    margin:0px;
    white-space: nowrap;
    padding: 0px
}

nav a {
    padding: 1em;
    min-width: 70px
}


nav a:link,
nav a:visited {
    color: var(--color-main1);
}

nav a:hover {
    color: var(--color-accent2);
    background-color: var(--color-main1)
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: var(--color-main1);
}
.contact{
    grid-column: 1/2
}
.footerlogo{
    grid-column: 2/3
}
.social{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr;
    
}
.facebook, .insta, .twitter{
    padding: 5px
}
.facebook{
    grid-column:2/3
}
.insta{
    grid-column:3/4
}
.twitter{
    grid-column:4/5
}
.homesection1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    
}
.girlgroupimg{
    grid-column: 1/2
}
.painquoteimg{
    grid-column: 2/3
}
.homequote, .homesection3{
    background-color: var(--color-white);
    padding: 2rem
}
.homequote>h2{
    text-align: center;
}
.homesection2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.homeimage1{
    grid-column: 1/2
}
.homeimage2{
    grid-column: 2/3
}
.homeimage3{
    grid-column: 3/4
}
.homesection3{
    text-align: center
}
.homesection4{
    display:grid;
    grid-template-columns: 1fr 1fr;
    object-fit:contain;
    align-content: center
}
.testimonialimg{
    grid-column: 1/2
}
.sunglassesimg{
    grid-column: 2/3
}
input[type=text], select, textarea, input[type=email] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid var(--color-main3) ;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-bottom: 16px; 
    resize: vertical ;
    color: var(--color-accent3)
}
  
  input[type=submit] {
    background-color: var(--color-accent2);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;

  }
  
  input[type=submit]:hover {
    background-color:var(--color-accent2);
    color: var(--color-accent3)
  }
  
  .contactform {
    border-radius: 5px;
    background-color:var(--color-main1);
    padding: 20px;
    color: var(--color-accent3)
  }
  .sciencesection1{
      display: flex;
      background-color: var(--color-white);
      justify-content: center;
      object-fit: contain;
      align-items: center
  }
  .sciencesection1>h2{
      size: 5rem;
      padding: 1rem
  }
  .sciencesection3{
      display: grid;
      grid-template-rows: 1fr 4fr;
      grid-template-columns: 1fr 1fr 1fr
  }
  span{
      color: var(--color-accent3);
    
  }
article{
    width: 300px;
    box-shadow: 1px 1px 4px 1px #888;
    border-radius: 3px;
    background-color: white;       
   overflow:hidden;
   margin: 2rem
}
.reviewheader{
    grid-row: 1/2;
    grid-column: 1/5;
    justify-items: center;
}
.card1{
    grid-column: 1/2;
    grid-row: 2/3
}
.card2{
    grid-column: 2/3;
    grid-row: 2/3
}.card3{
    grid-column: 3/4;
    grid-row: 2/3
}
.rating{ 
    grid-column: 4/5;
    padding: 10px
}
button{
    background-color:white;
    color:var(--color-accent2);
    border-width: 1px;
    border-color: var(--color-accent3);
    padding: 10px;
    margin: 10px;
    border-radius: 3px
}
.cardfooter{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    align-items: center;
    background-color: var(--color-main2);
}


