@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+JP:wght@300&display=swap');

:root {
    --color-main1: #e5d6eb;
    --color-main2: #a1bfe3;
    --color-main3: #902170;
    --color-accent1: #313b7e;
    --color-accent2:#f25206;
    --color-accent3: #1d2349;
    --color-accent4:#ceadd7;
    --color-white: white;
    --heading-font: 'Abril Fatface', cursive;
    --paragraph-font: 'Noto Sans JP', sans-serif;
}
html {
    background-color: var(--color-main2)
}
body {
    max-width: 900px;
    margin: 0 auto;
    background-color:var(--color-main1);
    padding: 1em
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color:var(--color-accent2)
}

header {
    text-align: center;
    color: var(--color-white);
    background-color:var(--color-main3);
    display: flex;
    width: 100%

}
header>h1 {
    color:var(--color-main1)
}
p {
    font-family: var(--paragraph-font);
    color: var(--color-accent3);
    padding: 1em
}
nav {
    background-color: var(--color-main3);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    color: var(--color-main3)
}

nav>ul {
    list-style-type: none;
    display: flex
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color: var(--color-main1);
}

nav a:hover {
    color: var(--color-accent2);
    background-color: var(--color-main1)
}