@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+JP:wght@300&display=swap');

:root {
    --color-main1: #e5d6eb;
    --color-main2: #a1bfe3;
    --color-main3: #902170;
    --color-accent1: #313b7e;
    --color-accent2:#f25206;
    --color-accent3: #1d2349;
    --color-accent4:#ceadd7;
    --color-white: white;
    --heading-font: 'Abril Fatface', cursive;
    --paragraph-font: 'Noto Sans JP', sans-serif;
    
}
html {
    background-color: var(--color-main2)
}
body {
    background-color:var(--color-main1);
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color:var(--color-accent2)
}

header {
    text-align: center;
    color: var(--color-white);
    background-color:var(--color-main3);
    display: flex;
    width: 100%

}
.header{
    width: 100%;
    justify-items:center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: var(--color-main3);
}
.headerContent{
    
    width: 960px
}
.headerlogo{
    grid-column: 2/3;
    grid-row: 1/2;
    padding:0px;
    margin: 5px;
    border:0px;
}
.headertitle{
    grid-column: 1/2;
    grid-row:1/2
}

header>h1 {
    color:var(--color-main1)
}

.content {
    padding: 16px;
  }
.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  .sticky + .content {
    padding-top: 102px;}
p {
    font-family: var(--paragraph-font);
    color: var(--color-accent3);
    padding: 1em
}
nav {
    background-color: var(--color-main3);
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    color: var(--color-main3);
    grid-column: 3/4;
    grid-row:1/2
}

nav>ul {
    list-style-type: none;
    display: flex;
    margin:0px
}

nav a {
    padding: 1em;
    min-width: 70px
}

nav a:link,
nav a:visited {
    color: var(--color-main1);
}

nav a:hover {
    color: var(--color-accent2);
    background-color: var(--color-main1)
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center
}
.contact{
    grid-column: 1/2
}
.footerlogo{
    grid-column: 2/3
}
.social{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 2fr
}
.facebook{
    grid-column:2/3
}
.insta{
    grid-column:3/4
}
.twitter{
    grid-column:4/5
}
.homesection1{
    display:flex;
    justify-content: center;
}
.homequote{
    background-color: var(--color-white);
    padding: 2rem
}
.homequote>h2{
    text-align: center;
}
.homesection2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
}
.homeimage1{
    grid-column: 1/2
}
.homeimage2{
    grid-column: 2/3
}
.homeimage3{
    grid-column: 3/4
}