@media only screen and (min-width: 500px) {

    header{
        display:grid; 
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        background-color: rgba(255,255,255,.9);
    }
    header img{
        padding: 0;

    }
    picture{
        max-width: 100%;
    }
    .headerlogo{
        grid-column: 1/2;
        grid-row: 1/2;
        z-index: 1;
    
    }
    .headerlogo img{
        width: 100px
    }
    .headertitles{
        grid-column: 2/3;
        grid-row: 1/2;
        z-index: 1;
    }
 
    .headerimage{
        display: block;
        grid-column:1/3;
        grid-row: 1/2;
        z-index: -1;
    
    }
    .headerlarge{
        display: block
    }
    .headersmall{
        display: none
    }
    .navigation{
        display: flex
    }
    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%
    }
    .joinform{
        display: grid; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .personalinfo{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .businessinfo{
        grid-column: 2/3; 
        grid-row: 1/2;
    }
    .membership{
        grid-column: 1/3; 
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
    }
    .submitbutton{
        margin: auto;
        grid-column: 1/3;
        width: 400px
    }
   .contactusform fieldset{
        margin:auto;
        margin-bottom: 1rem
    }
    
    .currentweather section{
        min-width: 100%;

    }
    .forecastcards{
        grid-row: 2/3;
        grid-column: 2/3;
        justify-content: space-between;
        min-width: 100%;
        max-width: 150px;
        display: flex
    }
    .currentweather p, .currentweather h2{
        font-size: 2rem;
    }
       
       
    
  
   
    .directordiv{
        max-width: 30%;
    }
    .listview div{
        display: flex; 

    }
    .hbutton{
        max-width: 30%;
    }
}