@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Spartan:wght@100&display=swap');
:root {
    --primary-color: #BFBFBF;
    --secondary-color: #79757F;
    --third-color:  #E8E8E8;
    --fourth-color: #FFFFFF;
    --fifth-color: #000000;
    --accent1-color: #F4B701;
    --accent2-color: #4F4F4F;
    --accent3-color: #feeaae;

    --heading-font: 'spartan', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
}

body{
    margin: auto;
    width: 100%;
    font-family: var(--paragraph-font); 
    max-width: 1050px;
}
h1, h2, h3, h4{
    font-family: var(--heading-font); 
    padding: .5rem
}
p{
    padding: 1rem;
    font-family: var(--paragraph-font)
}
img{
    width: 100%;
    padding: 1rem
}
header{
    justify-content: center;
    text-align: center;
    display: flex; 

    align-items: center;
    
}
.headerimage{
    display: none;
}
.headertitles{
    font-size: 1rem;
}
.headerlarge{
    display:none
}
.headertitles h1, h2{
    margin-top: 0;
    margin-bottom: 0;
}
nav{
    background-color: var(--third-color); 
    text-align: center;
}
.headerlogo{
    max-width: 50px;
    padding: 1rem; 
    margin: auto;

}

 a:link,
 a:visited {
    color: var(--fifth-color);
    text-decoration: none;
    
}
nav>ul{
    list-style-type:none ;
}
.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
    padding: 1rem
}

.responsive li {
    display: block;
}
footer{
    background-color: var(--third-color);
    padding: 1rem
}
footer img{
    width: 32px
}
.hbutton, .sbutton{
    background-color: var(--accent1-color);
    color: var(--accent2-color);
    padding: .5rem;
    margin: 1rem;
    font-family: var(--paragraph-font);
    border: none; 
    border-radius: 5px;
}
.businesscards{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
section{
    background: var(--third-color);
    border-radius: 10px;
    max-width: 300px;
    margin:1rem; 
    justify-content: center;

}
section img{
    width: 150px;
    margin:auto
}
section p {
    padding-left: 1rem
}
section a:link{
    text-decoration: underline;

    padding-left:1rem; 
    
}
.forecastcards, .currentweather{


    text-align: center;
    padding: 1rem

}
.forecastcards{
  
display: block
   
}
.forecastcards section, .currentweather section{
    border: 1px solid var(--accent1-color)
}
.currentweather section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.forecastcards p, .currentweather p{
    margin: 0
}
.forecastcards img, .currentweather img{
    width: 100px;
    background-color: var(--fourth-color)
}

.directorybusinesscards{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.labl {
    display : block;
    width: 200px;
}
.labl > input{ 
    visibility: hidden; 
    position: absolute; 
}
.labl > input + div{ 
    cursor:pointer;
    border:2px solid transparent;
}
.labl > input:checked + div{ 
    background-color: var(--accent3-color);
    border: 1px solid var(--accent1-color);
    border-radius: 5px;
}
fieldset{
    border: 1px solid var(--primary-color); 
    border-radius: 5px;
}
em{
    color: var(--accent2-color);
}
input{
    margin: 0.5rem;
    width: 80%
}
fieldset{
    margin: 1rem
}
.viewbutton img{
    width: 20px
}
.listview div{
   width: 100%;
    justify-content: space-between
}
.listview section{
    min-width: fit-content;
    max-width: 100%;
    text-align: center;
}
.listview p{
   max-width: 200px;


}
.listview p, .listview h2, .listview h4{
    margin:auto
}
.listview h2{
    max-width: 210px;
}
.listview a{
    padding: 1rem
}
#directorysection3, #gb{
    display:none
}

.directordiv {
    text-align: center;
    max-width: 100%;
    margin: 1rem
    
}
.contactform{
    max-width: 600px;
}
.contactsection3{
    margin: auto; 
    justify-content: center;
}
.alert {
    padding: 20px;
    background-color: var(--accent1-color); /* Red */
    color: var(--accent2-color);
    margin-bottom: 15px;
  }
  

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  .homesection3 p, .homesection3 h3{
      margin:0
  }
  .homesection3 p, .homesection3 h3{
    padding-top:0
  } 
  .events{
      border: 1px solid var(--accent1-color);
      border-radius: 10px;
      margin: 1rem
  }
  
