:root {
    --primary-color: #AEB8FE;
    --secondary-color: #27187E;
    --third-color:  #E47800;
    --fourth-color: #758BFD;
    --accent1-color: #FF8600;
    --accent2-color: #D0D5FA;
    --accent3-color: rgba(46,196,182,.2);
    --white-color: rgba(255, 255, 255);
    --black-color: rgba(0, 0, 0);
    --heading-font: 'Comfortaa', sans-serif;
    --paragraph-font: 'Roboto', serif;
}


body {

    margin: auto;
    background-color: var(--white-color);
    font-family: var(--paragraph-font);
    position: relative;
    max-width: 100%;

}

h1 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    margin: 0;
    padding: 1rem;
    text-align: center;

}

h2 {
    color: var(--fourth-color);
    font-family: var(--heading-font);
    padding: 1rem;
    margin: 0;
}

h3 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    padding: .5rem;
    margin: 0;
    border: 7px double var(--accent1-color);
    max-width: fit-content;
}

img {

    width: 100%;
}

header {
    background-color: var(--white-color);
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    display: flex
}

header h1 {
    grid-row: 1/2;
    padding: 0;
}

header h2 {
    text-align: center;
    color: var(--fourth-color);
    padding: 0;
    padding-bottom: .5rem;
    font-size: 1rem;
}

header>img {
    float: center;
    width: 100%
}

main {
    display: block;
    max-width: 100%;
    margin: auto;


}

p {
    font-family: var(--paragraph-font);
    padding: 1rem;
    margin: 0;
}

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: grid;

    max-width: 1018px;
    margin: auto
}

footer img {
    padding: 1rem
}
footer h2{
    color: var(--secondary-color);
}

nav {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    grid-row: 2/3;
    grid-column: 1/3;
    font-family: var(--heading-font);

}

nav a:hover {
    background-color: var(--white-color);
    text-decoration: none;

}

nav a:link,
nav a:visited {
    color: var(--secondary-color);
    text-decoration: none;

}

nav a:active {
    text-decoration: underline var(--third-color);
    text-decoration-thickness: .25rem;
}

nav ul li.active a {
    text-decoration: underline var(--third-color);
    text-decoration-thickness: .25rem;
}

nav>ul {
    list-style-type: none;

    justify-content: space-between;
    width: 100%;
    max-width: 1050px;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    flex-flow: column;
    align-items: center;
    justify-content: center;

}

li {
    padding: .3rem
}

table,
th,
td {
    border: 1px solid black;
    padding: 1rem;
    margin: auto
}



.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none
}

.responsive li {
    display: block;
}

.forecastimages {
    display: none;
}

.contact {
    padding: 1rem
}

#banner {
    background-color: var(--fourth-color);
    color: var(--white-color);
    font-size: 1.5rem;
    font-style: bold;
    text-align: center;
    padding: .5rem;
    font-family: var(--paragraph-font);
    display: none
}

.weathersummary p {
    padding: 0;
}

.weathersummary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr .5fr .5fr .5fr .5fr;
    padding: .5rem;
    max-width: fit-content;
}

.weathersummary .label {
    display: block;
    grid-column: 1/2;
    text-align: right;

}

.weathersummary .value {
    display: realative;
    grid-column: 2/3;

}

.weathersummary h2 {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    padding: 0;
}

.prestonheroimage {
    max-width: 1050px;

}

.map {
    max-width: 300px;
}

.prestonsection1 {
    margin: 1rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 100%;
    grid-gap: .25rem;

}

article img[data-src] {
    filter: blur(0.8em);
}

article img {
    filter: blur(0em);
    transition: filter 3s;
}

article {
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    background-color: white;
    overflow: hidden;
    margin: 2rem;
}

form {
    border: 1px solid var(--accent1-color);
    border-radius: 20px;
    padding: 1rem;

}
.formpage h3{
    border: none
}

label,
input {
    margin: .5rem;

}

input {
    padding: .25rem;
    width: 75%;
    border-radius: 4px;
    border: 1px solid var(--fourth-color);
    box-shadow: 3px 4px 2px 1px var(--primary-color);
}
.dangerselection input{
    padding: 0;
    width: auto;
    margin-top:.5rem;
    margin-bottom: .5rem;
    margin-left:0;
    margin-right: 0;
}
.regionselect{
    margin: .25rem
}
.sbutton{
    background-color: var(--fourth-color);
    font-family: var(--heading-font);
    color: var(--white-color);
    padding: .5 rem;
    max-width: 50%;

}
.formpage{
    margin-top: 1rem;
}
form em{
    font-size: .75rem;
    color:var(--fourth-color);
}
.headertitles {
    display: flex;
    flex-direction: column;
}
.headerimage {
    width: 100px;
}
button{
    background-color: var(--accent1-color);
    color: var(--secondary-color);
    border: 5px double var(--white-color);
    border-radius: 10px;
    padding: .5rem;
    max-width: fit-content;

    
}
.homesection2{
    padding: 1rem
}
.gallerygrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: auto
}

.gallerygrid img:nth-child(3){
    grid-column: 1/3;
    grid-row: 2/3
}
.gallerygrid img:nth-child(1),.gallerygrid img:nth-child(2){

    grid-row: 1/2
}
.gallerygrid img:nth-child(4),.gallerygrid div:nth-child(1){

    grid-row: 3/4
}
.idahoquote{
    background-color: var(--accent2-color);
    border: 5px double var(--accent1-color);
    display: flex;
    align-items: center;
}
.idahoquote h3{
    border: none
}
.homesection4{
    margin: 1rem
}
.socialicons img{
    max-width: 32px;
}